- ways to declare dictionary
- to acces key and values in dictionary
- to add a new pair in dictionary
- loops in dictionary
- nested dictionary

In [2]:
students = {
    'name' : 'John Doe',
    'age' : 20,
    'class' : input('Enter your class: '),
    'marks' : 90
}
print(students)

{'name': 'John Doe', 'age': 20, 'class': '7', 'marks': 90}

In [3]:
temp = {
    'lucknow' : [32,28,40],
    'delhi' : [45,35,29],
    'chennai' : [30,25,28]
}
print(temp)

{'lucknow': [32, 28, 40], 'delhi': [45, 35, 29], 'chennai': [30, 25, 28]}

In [4]:
info = dict(name='John Doe', age=20, course='Python', marks=90)
print(info)

{'name': 'John Doe', 'age': 20, 'course': 'Python', 'marks': 90}

In [5]:
info2 = dict(name=input("Enter your name:"), age=20, course='Python', marks=90)
print(info2)

{'name': 'jhjkh', 'age': 20, 'course': 'Python', 'marks': 90}

In [6]:
#1st method to acces value using its key
print(info['name'])

John Doe

In [7]:
#2nd method to acces value using its key
print(info.get('age'))

20

In [8]:
#to add a new pair in the dictionary
students['city'] = 'Lucknow'
print(students)

{'name': 'John Doe', 'age': 20, 'class': '7', 'marks': 90, 'city': 'Lucknow'}

In [9]:
print(students.keys())
print(students.values())
print(students.items())

dict_keys(['name', 'age', 'class', 'marks', 'city'])
dict_values(['John Doe', 20, '7', 90, 'Lucknow'])
dict_items([('name', 'John Doe'), ('age', 20), ('class', '7'), ('marks', 90), ('city', 'Lucknow')])

In [19]:
for k,v in students.items():
    print(k,v)

name John Doe
age 20
class 7
marks 90
city Lucknow

In [10]:
for k,v in students.items():
    print(f'{k} : {v}')

name : John Doe
age : 20
class : 7
marks : 90
city : Lucknow

In [11]:
company = {
    'emp001': {
        'name': 'John',
        'salary': 25000,
        'city': 'Lucknow'
    },
    'emp002': {
        'name': 'Jane',
        'salary': 30000,
        'city': 'Delhi'
    },
    'emp003': {
        'name': 'Marie',
        'salary': 35000,
        'city': 'Lucknow'
    }
}
print(company)

{'emp001': {'name': 'John', 'salary': 25000, 'city': 'Lucknow'}, 'emp002': {'name': 'Jane', 'salary': 30000, 'city': 'Delhi'}, 'emp003': {'name': 'Marie', 'salary': 35000, 'city': 'Lucknow'}}

In [12]:
from pprint import pprint

In [13]:
pprint(company)

{'emp001': {'city': 'Lucknow', 'name': 'John', 'salary': 25000},
 'emp002': {'city': 'Delhi', 'name': 'Jane', 'salary': 30000},
 'emp003': {'city': 'Lucknow', 'name': 'Marie', 'salary': 35000}}

In [14]:
print(company['emp002']['name'])

Jane

In [15]:
print(temp['lucknow'][1])

28

In [16]:
print('average temp in delhi:',sum(temp['delhi'])/len(temp['delhi']))

average temp in delhi: 36.333333333333336